        .color-box {
            display: flex;
            align-items: center;
        }
        .color-square {
            width: 300px;
            height: 300px;
            border: 3px solid black;
            margin-left: 30px;
        }
        .color-area {
            width: 100%;
            min-height: 300px;
            display: flex;
            flex-wrap: wrap;
        }
        .color-block {
            width: 100px;
            height: 100px;
            margin: 10px;
        }
